html{
    font-size: 10px;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 2px;

}

body{
    background: linear-gradient(#000001, #2b2b2b);
    min-height: 100vh;
    color: whitesmoke;
    font-size: 1.4rem;
    margin:2rem auto;
    padding:2rem ;
    text-align: center;

}

.player{
    background: radial-gradient(#20d055, #03510f);
    padding:2rem;
    border-radius: 2rem;
}

img{
    width: 50%;
    height: 25rem;
   
}

#controls{
    border:1px lightslategrey solid;
    border-radius: 1rem;
    padding: 1.6rem;
}

.controls_wrapper{
    cursor:pointer;
    color:lightslategray;
    font-size: 6rem;
    padding: 2rem;
}

#currentSong{
    overflow: hidden;
}

#songList{
    overflow: hidden;
    text-align: left;
}

li{
    cursor: pointer;
    padding: 1.5rem;
}

li:hover{
    color: blue;
}
a {
    color: whitesmoke;
}

progress {
    height: 3rem;
    width: 100%;
    margin-bottom: 1rem;
}

.pulse {
    animation: pulse;
    animation-duration: 0.4s;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }

    50% {
        transform: scale(0.9);
    }

    to {
        transform: scale(1);
    }
}

@media(min-width:800px){
    body{
max-width: 60vw;
font-size: 1.8rem;
    }
}
